@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

a{
    text-decoration: none;
}

button{
    cursor: pointer;
}

img{
    object-fit: cover;
}

h2{
    font-weight: 400;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 32px;
    border: 1px solid #e8e8e8;
    position: absolute;
    top: 16px;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 16px;
    padding: 12px;
}

nav .logo{
    display: flex;
    align-items: center;
    gap: 5px;
}

nav .logo img{
    width: 30px;
    height: 30px;
}

nav .logo a{
    color: #000;
    font-weight: 600;
}

nav .nav-links{
    display: flex;
    gap: 24px;
}

nav .nav-links a{
    font-size: 14px;
    color: #606060;
    transition: all 0.3s ease;
}

nav .nav-links a:hover{
    color: #000;
}

nav button{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3px;
    font-size: 14px;
    height: 32px;
    width: 122px;
    background: #000;
    color: #fff;
    border-radius: 8px;
    border: 1px solid transparent;
    transition: all 0.3s ease;
}

nav button:hover,
.hero .left-section .top .buttons button.doc:hover,
.contact .items .item button:hover{
    color: #000;
    background: #fff;
    border-color: #dedede;
}

nav button i{
    font-size: 20px;
}

.hero{
    margin-top: 80px;
    height: calc(100vh - 80px);
    padding: 0 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
}

.hero > img{
    max-width: 520px;
    width: 44%;
    border-radius: 26px;
}

.hero .left-section{
    display: flex;
    flex-direction: column;
    gap: 100px;
}

.hero .left-section .top h2{
    font-size: 44px;
    /* margin-bottom: 24px; */
}

.hero .left-section .top .subtitle{
    font-size: 1.2em;
    margin-bottom: 48px;
}

.hero .left-section .top p{
    color: #606060;
    font-size: 18px;
    margin-bottom: 24px;
    text-align: justify;
}

.hero .left-section .top .buttons{
    display: flex;
    gap: 8px;
}

.hero .left-section .skills {
    display: flex; /* Use flexbox */
    align-items: center; /* Vertically center the items */
    margin-top: 60px; /* Add some gap on the top */
}

.hero .left-section .skills h3 {
    margin-right: 20px; /* Adjust margin between h3 and skill-icons */
    margin-bottom: 0; /* Remove bottom margin to prevent extra space */
}

.hero .left-section .skills .skill-icons {
    flex: 1; /* Allow the icons to take up remaining space */
    display: flex; /* Use flexbox */
    justify-content: center; /* Center the icons horizontally */
    font-size: 50px; /* Adjust icon size */
    gap: 20px; /* Add spacing between icons */
}

.icon-HTML {
    width: 50px; /* Increase width */
    height: 50px; /* Increase height */
    background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' %3F%3E%3C!DOCTYPE svg PUBLIC '-//W3C//DTD SVG 1.0//EN' 'http://www.w3.org/TR/2001/REC-SVG-20010904/DTD/svg10.dtd'%3E%3Csvg enable-background='new 0 0 32 32' height='32px' id='Layer_1' version='1.0' viewBox='0 0 32 32' width='32px' xml:space='preserve' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Cg%3E%3Cpolygon fill='%23E44D26' points='27.377,28.889 16.001,32 4.625,28.889 2,0 30.002,0 '/%3E%3Cpolygon fill='%23FF6C39' points='16,2 16,29.75 25.232,27.008 27.688,2 '/%3E%3Cpolygon fill='%23FFFFFF' points='24.363,6 7.607,6 8,10 8.619,17 19.503,17 19.148,20.984 16,21.99 12.857,20.984 12.648,19 8.803,19 9.262,23.987 16,25.99 22.728,23.986 23.718,13 12.252,13 12.002,10 24,10 '/%3E%3C/g%3E%3Cg/%3E%3Cg/%3E%3Cg/%3E%3Cg/%3E%3Cg/%3E%3Cg/%3E%3C/svg%3E");
    background-size: 100% 100%; /* Ensure the background image covers the entire element */
}

.icon-CSS {
    width: 50px; /* Increase width */
    height: 50px; /* Increase height */
    background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' %3F%3E%3C!DOCTYPE svg PUBLIC '-//W3C//DTD SVG 1.0//EN' 'http://www.w3.org/TR/2001/REC-SVG-20010904/DTD/svg10.dtd'%3E%3Csvg enable-background='new 0 0 32 32' height='32px' id='Layer_1' version='1.0' viewBox='0 0 32 32' width='32px' xml:space='preserve' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Cg%3E%3Cpolygon fill='%231F62AE' points='27.377,28.889 16.001,32 4.625,28.889 2,0 30.002,0 '/%3E%3Cpolygon fill='%23347DC6' points='16,2 16,29.75 25.232,27.008 27.688,2 '/%3E%3Cpolygon fill='%23FFFFFF' points='24.363,6 7.607,6 8,10 16,10 8.25,12.99 8.619,17 19.502,17 19.158,21 16,21.99 12.861,20.984 12.533,19 8.803,19 9.262,23.987 16,25.99 22.728,23.986 23.719,12.99 16.026,12.99 24,10 '/%3E%3C/g%3E%3Cg/%3E%3Cg/%3E%3Cg/%3E%3Cg/%3E%3Cg/%3E%3Cg/%3E%3C/svg%3E");
    background-size: 100% 100%; /* Ensure the background image covers the entire element */
}

.icon-Python {
    width: 50px; /* Increase width */
    height: 50px; /* Increase height */
    background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' %3F%3E%3C!DOCTYPE svg PUBLIC '-//W3C//DTD SVG 1.1//EN' 'http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd'%3E%3Csvg height='512px' style='enable-background:new 0 0 512 512;' version='1.1' viewBox='0 0 512 512' width='512px' xml:space='preserve' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Cg id='_x32_67-python'%3E%3Cg%3E%3Cpath d='M194.005,240.252h105.054c29.216,0,52.529-24.101,52.529-53.414V86.603 c0-28.525-24.002-49.871-52.529-54.691c-35.214-5.804-73.478-5.509-105.054,0.097c-44.462,7.87-52.527,24.298-52.527,54.693 v21.453H246.63v31.959H102.033c-30.591,0-57.349,18.394-65.709,53.315c-9.64,40.035-10.033,65.02,0,106.826 c7.476,31.085,25.28,53.314,55.872,53.314h36.101v-48.001C128.296,270.845,158.298,240.252,194.005,240.252L194.005,240.252z' style='fill:%23347AB4;'/%3E%3Cpath d='M474.975,209.372c-7.575-30.395-21.935-53.315-52.527-53.315h-39.443v46.626 c0,36.199-30.692,66.691-65.71,66.691H212.24c-28.724,0-52.528,24.594-52.528,53.414v100.138 c0,28.524,24.788,45.246,52.528,53.413c33.247,9.737,65.215,11.509,105.054,0c26.462-7.675,52.529-23.116,52.529-53.413v-20.997 H264.867v-32.417h157.58c30.593,0,41.904-21.346,52.527-53.314C485.992,283.244,485.501,251.57,474.975,209.372L474.975,209.372z' style='fill:%23FFCA1D;'/%3E%3Cpath d='M187.415,89.594c-10.479,0-18.975-8.591-18.975-19.164c0.094-10.668,8.496-19.259,18.975-19.259 c10.385,0,18.976,8.685,18.976,19.259C206.39,81.003,197.894,89.594,187.415,89.594z' style='fill:%23FFFFFF;'/%3E%3Cpath d='M314.908,460.076c-10.479,0-18.976-8.591-18.976-19.164c0.095-10.668,8.496-19.259,18.976-19.259 c10.385,0,18.976,8.685,18.976,19.259C333.884,451.485,325.388,460.076,314.908,460.076z' style='fill:%23FFFFFF;'/%3E%3C/g%3E%3C/g%3E%3Cg id='Layer_1'/%3E%3C/svg%3E");background-size: 100% 100%; /* Ensure the background image covers the entire element */
}

.icon-Excel {
    width: 50px; /* Increase width */
    height: 50px; /* Increase height */
    background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' %3F%3E%3Csvg enable-background='new 0 0 24 24' id='Layer_1' version='1.1' viewBox='0 0 24 24' xml:space='preserve' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Cg%3E%3Crect fill='%23FFFFFF' height='17' width='11.5' x='12' y='3.5'/%3E%3Cpath d='M23.5,21h-10c-0.2763672,0-0.5-0.2236328-0.5-0.5s0.2236328-0.5,0.5-0.5H23V4h-9.5 C13.2236328,4,13,3.7763672,13,3.5S13.2236328,3,13.5,3h10C23.7763672,3,24,3.2236328,24,3.5v17 C24,20.7763672,23.7763672,21,23.5,21z' fill='%23177848'/%3E%3Cpolygon fill='%23177848' points='14,0 0,2.6086957 0,21.391304 14,24 '/%3E%3Cpolygon fill='%23FFFFFF' opacity='0.2' points='0,2.6087036 0,2.8587036 14,0.25 14,0 '/%3E%3Crect fill='%23177848' height='2' width='4' x='13' y='5'/%3E%3Crect fill='%23177848' height='2' width='4' x='18' y='5'/%3E%3Crect fill='%23177848' height='2' width='4' x='13' y='8'/%3E%3Crect fill='%23177848' height='2' width='4' x='18' y='8'/%3E%3Crect fill='%23177848' height='2' width='4' x='13' y='11'/%3E%3Crect fill='%23177848' height='2' width='4' x='18' y='11'/%3E%3Crect fill='%23177848' height='2' width='4' x='13' y='14'/%3E%3Crect fill='%23177848' height='2' width='4' x='18' y='14'/%3E%3Crect fill='%23177848' height='2' width='4' x='13' y='17'/%3E%3Crect fill='%23177848' height='2' width='4' x='18' y='17'/%3E%3Cpolygon opacity='0.1' points='0,21.3912964 14,24 14,23.75 0,21.1412964 '/%3E%3ClinearGradient gradientUnits='userSpaceOnUse' id='SVGID_1_' x1='9.5' x2='23.3536377' y1='7.5' y2='21.3536377'%3E%3Cstop offset='0' style='stop-color:%23000000;stop-opacity:0.1'/%3E%3Cstop offset='1' style='stop-color:%23000000;stop-opacity:0'/%3E%3C/linearGradient%3E%3Cpath d='M23.5,21c0.2763672,0,0.5-0.2236328,0.5-0.5V13L14,3v18H23.5z' fill='url(%23SVGID_1_)'/%3E%3Cpolygon fill='%23FFFFFF' points='7.357666,12.5 9.6552734,8.3642578 9.6262817,8.3481445 7.8796387,8.4729004 6.5,10.9562378 5.225647,8.6624756 3.5758667,8.7802734 5.642334,12.5 3.5758667,16.2197266 5.225647,16.3375244 6.5,14.0437622 7.8796387,16.5270996 9.6262817,16.6518555 9.6552734,16.6357422 '/%3E%3ClinearGradient gradientTransform='matrix(60.9756088 0 0 60.9756088 20560.1210938 -26748.4140625)' gradientUnits='userSpaceOnUse' id='SVGID_2_' x1='-337.1860046' x2='-336.9563904' y1='438.8707886' y2='438.8707886'%3E%3Cstop offset='0' style='stop-color:%23FFFFFF'/%3E%3Cstop offset='1' style='stop-color:%23000000'/%3E%3C/linearGradient%3E%3Cpath d='M14,0L0,2.6086957v18.782608L14,24V0z' fill='url(%23SVGID_2_)' opacity='0.05'/%3E%3ClinearGradient gradientUnits='userSpaceOnUse' id='SVGID_3_' x1='-1.5634501' x2='25.0453987' y1='5.9615331' y2='18.369442'%3E%3Cstop offset='0' style='stop-color:%23FFFFFF;stop-opacity:0.2'/%3E%3Cstop offset='1' style='stop-color:%23FFFFFF;stop-opacity:0'/%3E%3C/linearGradient%3E%3Cpath d='M23.5,3H14V0L0,2.6087036v18.7825928L14,24v-3h9.5c0.2763672,0,0.5-0.2236328,0.5-0.5v-17 C24,3.2236328,23.7763672,3,23.5,3z' fill='url(%23SVGID_3_)'/%3E%3C/g%3E%3Cg/%3E%3Cg/%3E%3Cg/%3E%3Cg/%3E%3Cg/%3E%3Cg/%3E%3Cg/%3E%3Cg/%3E%3Cg/%3E%3Cg/%3E%3Cg/%3E%3Cg/%3E%3Cg/%3E%3Cg/%3E%3Cg/%3E%3C/svg%3E");background-size: 100% 100%; /* Ensure the background image covers the entire element */
}

.icon-PowerBI {
    width: 50px; /* Increase width */
    height: 50px; /* Increase height */
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 48 48' width='48px' height='48px'%3E%3Cpath fill='%23ffc107' d='M40,41H8c-2.206,0-4-1.794-4-4V11c0-2.206,1.794-4,4-4h32c2.206,0,4,1.794,4,4v26	C44,39.206,42.206,41,40,41z'/%3E%3Cpath fill='%23212121' d='M34,12.98H14.02c-2.2,0-4,1.79-4,4V30c0,1.86,1.27,3.42,2.98,3.86v-2.14	c-0.59-0.35-0.98-0.99-0.98-1.72V16.98c0-1.1,0.9-2,2-2H34c1.1,0,2,0.9,2,2V30c0,0.74-0.4,1.38-1,1.73v2.14c1.73-0.44,3-2.01,3-3.87	V16.98C38,14.77,36.21,12.98,34,12.98z'/%3E%3Cpath fill='%23212121' d='M16.5,28L16.5,28c0.828,0,1.5,0.672,1.5,1.5v5c0,0.828-0.672,1.5-1.5,1.5l0,0	c-0.828,0-1.5-0.672-1.5-1.5v-5C15,28.672,15.672,28,16.5,28z'/%3E%3Cpath fill='%23212121' d='M21.5,22L21.5,22c0.828,0,1.5,0.672,1.5,1.5v11c0,0.828-0.672,1.5-1.5,1.5l0,0	c-0.828,0-1.5-0.672-1.5-1.5v-11C20,22.672,20.672,22,21.5,22z'/%3E%3Cpath fill='%23212121' d='M26.5,25L26.5,25c0.828,0,1.5,0.672,1.5,1.5v8c0,0.828-0.672,1.5-1.5,1.5l0,0	c-0.828,0-1.5-0.672-1.5-1.5v-8C25,25.672,25.672,25,26.5,25z'/%3E%3Cpath fill='%23212121' d='M31.5,18L31.5,18c0.828,0,1.5,0.672,1.5,1.5v15c0,0.828-0.672,1.5-1.5,1.5l0,0	c-0.828,0-1.5-0.672-1.5-1.5v-15C30,18.672,30.672,18,31.5,18z'/%3E%3C/svg%3E");background-size: 100% 100%; /* Ensure the background image covers the entire element */
}

.icon-SQL {
    width: 50px; /* Increase width */
    height: 50px; /* Increase height */
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' viewBox='0 0 61 81' fill='%23fff' fill-rule='evenodd' stroke='%23000' stroke-linecap='round' stroke-linejoin='round'%3E%3Cuse xlink:href='%23A' x='.5' y='.5'/%3E%3Csymbol id='A' overflow='visible'%3E%3Cg fill='%230072c6' stroke='none'%3E%3Cpath d='M0 10.929v58.14C0 75.106 13.432 80 30 80V10.929H0z'/%3E%3Cuse xlink:href='%23C'/%3E%3C/g%3E%3Cuse xlink:href='%23C' opacity='.15' stroke='none'/%3E%3Cpath d='M60 10.929c0 6.036-13.432 10.929-30 10.929S0 16.965 0 10.929 13.432 0 30 0s30 4.893 30 10.929' stroke='none'/%3E%3Cpath d='M53.866 10.299c0 3.985-10.685 7.211-23.866 7.211S6.132 14.284 6.132 10.299 16.819 3.088 30 3.088s23.866 3.228 23.866 7.211' fill='%237fba00' stroke='none'/%3E%3Cpath d='M48.867 14.707c3.124-1.219 5.002-2.745 5.002-4.404C53.868 6.318 43.183 3.09 30 3.09S6.134 6.318 6.134 10.303c0 1.658 1.877 3.185 5.002 4.404 4.363-1.704 11.182-2.803 18.865-2.803s14.5 1.099 18.866 2.803' fill='%23b8d432' stroke='none'/%3E%3Cpath d='M20.472 51.287c0 1.807-.651 3.206-1.955 4.197s-3.102 1.488-5.399 1.488c-1.954 0-3.587-.354-4.899-1.063v-4.251c1.514 1.293 3.182 1.94 5.004 1.94.88 0 1.561-.177 2.041-.532s.72-.823.72-1.409c0-.575-.231-1.075-.693-1.5s-1.402-.974-2.819-1.647c-2.888-1.362-4.331-3.224-4.331-5.577 0-1.708.629-3.078 1.889-4.11s2.931-1.547 5.016-1.547c1.849 0 3.379.245 4.596.731v3.971c-1.276-.886-2.729-1.328-4.357-1.328-.818 0-1.465.174-1.94.523a1.65 1.65 0 0 0-.712 1.401c0 .602.191 1.096.575 1.481s1.168.861 2.356 1.428c1.77.842 3.03 1.695 3.784 2.563s1.125 1.95 1.125 3.241zm20.37-4.302c0 2.24-.507 4.185-1.519 5.83s-2.438 2.801-4.277 3.466l5.491 5.113h-5.544l-3.921-4.423c-1.681-.061-3.198-.509-4.549-1.341s-2.395-1.972-3.129-3.42-1.103-3.062-1.103-4.841c0-1.974.398-3.734 1.194-5.279s1.916-2.734 3.36-3.566 3.097-1.248 4.965-1.248c1.741 0 3.302.403 4.68 1.209s2.446 1.951 3.208 3.439 1.144 3.175 1.144 5.06zm-4.488.24c0-1.931-.418-3.455-1.255-4.576s-1.98-1.681-3.433-1.681c-1.479 0-2.662.562-3.552 1.685s-1.333 2.621-1.333 4.489c0 1.86.435 3.344 1.306 4.455s2.028 1.666 3.472 1.666c1.471 0 2.636-.538 3.499-1.613s1.296-2.55 1.296-4.426zm18.893 9.414H43.972V37.596h4.264V53.16h7.01z' stroke='none'/%3E%3C/symbol%3E%3Cdefs %3E%3Cpath id='C' d='M29.589 79.999H30c16.568 0 30-4.892 30-10.929v-58.14H29.589v69.07z'/%3E%3C/defs%3E%3C/svg%3E");background-size: 100% 100%; /* Ensure the background image covers the entire element */
}

.icon-card-1 {
    height: 50px; /* Increase height */
    background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' %3F%3E%3Csvg viewBox='0 0 480 480' xmlns='http://www.w3.org/2000/svg'%3E%3Cg data-name='22-graph' id='_22-graph'%3E%3Cpath d='M480,439.782l-.008-16-24,.011V176a8,8,0,0,0-8-8H416a8,8,0,0,0-8,8V423.816l-16,.007V352a8,8,0,0,0-8-8H352a8,8,0,0,0-8,8v71.846l-32,.015V256a8,8,0,0,0-8-8H272a8,8,0,0,0-8,8V423.884l-16,.007V336a8,8,0,0,0-8-8H208a8,8,0,0,0-8,8v87.914l-32,.014V224a8,8,0,0,0-8-8H128a8,8,0,0,0-8,8V423.951l-16,.007V304a8,8,0,0,0-8-8H64a8,8,0,0,0-8,8V423.981L24,424V112H8V432a8,8,0,0,0,8,8h0ZM424,184h16V423.8l-16,.008ZM360,360h16v63.831l-16,.007Zm-80-96h16V423.869l-16,.007Zm-64,80h16v79.9l-16,.008ZM136,232h16V423.936l-16,.008ZM72,312H88V423.966l-16,.008Z'/%3E%3Crect height='16' width='64' x='392' y='20'/%3E%3Crect height='16' width='64' x='392' y='68'/%3E%3Crect height='16' width='64' x='392' y='116'/%3E%3Ccircle cx='364' cy='28' r='12'/%3E%3Ccircle cx='364' cy='76' r='12'/%3E%3Ccircle cx='364' cy='124' r='12'/%3E%3Cpath d='M192,184a88,88,0,1,0-88-88A88.1,88.1,0,0,0,192,184Zm-67.472-62.886L186.179,105.7l15.41,61.641a71.83,71.83,0,0,1-77.061-46.228ZM264,96a72.114,72.114,0,0,1-46.886,67.472L200,95.015V24.455A72.1,72.1,0,0,1,264,96ZM184,24.455v65.3L120.658,105.59A71.863,71.863,0,0,1,184,24.455Z'/%3E%3C/g%3E%3C/svg%3E");background-size: 100% 100%; /* Ensure the background image covers the entire element */
    margin-bottom: 10px;
}

.icon-card-2 {
    /* width: 50px; Increase width */
    height: 50px; /* Increase height */
    background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' standalone='no'%3F%3E%3C!DOCTYPE svg PUBLIC '-//W3C//DTD SVG 20010904//EN' 'http://www.w3.org/TR/2001/REC-SVG-20010904/DTD/svg10.dtd'%3E%3Csvg version='1.0' xmlns='http://www.w3.org/2000/svg' width='512.000000pt' height='512.000000pt' viewBox='0 0 512.000000 512.000000' preserveAspectRatio='xMidYMid meet'%3E%3Cg transform='translate(0.000000,512.000000) scale(0.100000,-0.100000)'%0Afill='%23000000' stroke='none'%3E%3Cpath d='M2265 4731 c-47 -22 -89 -64 -104 -104 -6 -16 -11 -102 -11 -197 l0%0A-169 -57 -16 c-102 -28 -245 -86 -339 -136 l-91 -48 -109 110 c-60 60 -127%0A118 -150 129 -47 23 -121 26 -167 6 -18 -8 -116 -99 -218 -202 -200 -203 -217%0A-228 -205 -306 10 -62 26 -85 148 -206 l114 -113 -62 -124 c-34 -68 -79 -178%0A-100 -244 l-39 -121 -165 0 c-139 0 -171 -3 -205 -19 -47 -22 -89 -64 -104%0A-104 -7 -17 -11 -130 -11 -293 0 -245 2 -268 20 -304 45 -88 111 -110 329%0A-110 l136 0 33 -103 c36 -113 93 -245 140 -323 l30 -51 -100 -99 c-153 -152%0A-183 -211 -158 -305 10 -37 39 -72 189 -222 97 -98 190 -187 206 -197 43 -26%0A103 -34 155 -20 37 10 66 33 167 132 l122 121 123 -62 c68 -33 177 -79 243%0A-100 l120 -39 5 -179 c6 -216 15 -239 110 -289 30 -16 65 -19 260 -22 253 -4%0A325 4 378 44 65 50 72 81 72 327 l0 218 -25 24 c-32 33 -78 33 -110 0 -25 -24%0A-25 -25 -25 -223 0 -141 -3 -201 -12 -210 -17 -17 -459 -17 -476 0 -9 9 -12%0A69 -12 210 0 237 2 233 -120 262 -147 35 -311 104 -446 186 -103 64 -103 64%0A-274 -105 -81 -80 -151 -145 -155 -145 -16 0 -335 324 -335 340 0 8 59 74 131%0A145 130 129 165 178 152 212 -4 10 -29 54 -55 98 -65 109 -132 269 -163 395%0A-39 155 -30 150 -274 150 -156 0 -201 3 -210 14 -8 9 -11 82 -9 242 l3 229%0A205 5 c134 3 212 9 226 17 25 14 36 40 63 150 34 134 81 243 173 404 36 64 47%0A93 43 111 -4 14 -69 87 -146 164 -76 76 -139 145 -139 154 0 16 319 340 335%0A340 6 0 73 -63 150 -140 104 -104 148 -141 171 -146 26 -5 47 3 120 47 133 80%0A291 144 469 188 82 21 79 13 85 253 l5 213 245 0 245 0 6 -215 c3 -118 6 -216%0A7 -217 1 -1 16 -10 33 -19 36 -18 70 -13 99 16 19 19 20 34 20 239 0 233 -4%0A257 -48 305 -58 61 -81 66 -362 66 -227 0 -259 -2 -295 -19z'/%3E%3Cpath d='M4333 4622 c-28 -10 -68 -31 -88 -46 -36 -28 -89 -100 -101 -138 -5%0A-17 -24 -18 -309 -18 -167 0 -311 -3 -320 -7 -10 -3 -98 -113 -196 -245 -147%0A-196 -179 -244 -179 -272 0 -44 35 -76 82 -76 44 0 46 3 228 247 l135 182 277%0A1 278 0 14 -34 c22 -53 95 -126 151 -152 71 -33 180 -33 251 0 60 28 115 80%0A146 139 19 34 23 58 23 132 0 76 -4 97 -25 138 -66 131 -231 198 -367 149z%0Am172 -172 c64 -39 80 -135 34 -194 -74 -94 -223 -59 -244 58 -9 45 20 111 58%0A135 42 27 110 27 152 1z'/%3E%3Cpath d='M1790 3634 c-114 -31 -206 -109 -262 -222 -31 -62 -33 -73 -33 -172%0A0 -97 2 -110 31 -171 18 -36 52 -88 78 -114 l45 -48 -53 -58 c-77 -83 -100%0A-146 -101 -274 0 -92 3 -105 31 -166 18 -36 52 -88 78 -114 l46 -48 -51 -54%0Ac-68 -72 -100 -146 -106 -249 -15 -222 131 -402 352 -434 91 -13 1008 -13%0A1100 0 215 31 365 211 352 425 -6 109 -35 181 -103 254 l-53 58 45 48 c26 26%0A60 78 78 114 28 61 31 74 31 166 -1 128 -24 191 -101 274 l-53 58 45 48 c26%0A26 60 78 78 114 29 61 31 74 31 171 0 97 -3 110 -32 170 -55 114 -151 194%0A-268 224 -86 23 -1121 22 -1205 0z m1206 -175 c91 -44 154 -157 140 -253 -8%0A-53 -57 -138 -95 -165 -71 -51 -77 -51 -645 -51 -596 0 -596 0 -665 69 -55 55%0A-76 105 -75 181 1 77 24 131 80 180 70 61 48 59 658 60 545 0 561 -1 602 -21z%0Am0 -660 c91 -44 154 -157 140 -253 -8 -53 -57 -138 -95 -165 -71 -51 -77 -51%0A-645 -51 -596 0 -596 0 -665 69 -55 55 -76 105 -75 181 1 77 24 131 80 180 70%0A61 48 59 658 60 545 0 561 -1 602 -21z m0 -660 c91 -44 154 -157 140 -253 -8%0A-53 -57 -138 -95 -165 -71 -51 -77 -51 -645 -51 -596 0 -596 0 -665 69 -55 55%0A-76 105 -75 181 1 77 24 131 80 180 70 61 48 59 658 60 545 0 561 -1 602 -21z'/%3E%3Cpath d='M1963 3335 c-103 -44 -65 -205 47 -205 114 0 150 162 45 206 -42 17%0A-51 17 -92 -1z'/%3E%3Cpath d='M2285 3295 c-34 -33 -34 -83 1 -116 l26 -24 248 0 248 0 26 24 c35%0A33 35 83 1 116 l-24 25 -251 0 -251 0 -24 -25z'/%3E%3Cpath d='M1963 2675 c-103 -44 -65 -205 47 -205 114 0 150 162 45 206 -42 17%0A-51 17 -92 -1z'/%3E%3Cpath d='M2285 2635 c-34 -33 -34 -83 1 -116 l26 -24 248 0 248 0 26 24 c35%0A33 35 83 1 116 l-24 25 -251 0 -251 0 -24 -25z'/%3E%3Cpath d='M1963 2015 c-103 -44 -65 -205 47 -205 114 0 150 162 45 206 -42 17%0A-51 17 -92 -1z'/%3E%3Cpath d='M2285 1975 c-34 -33 -34 -83 1 -116 l26 -24 248 0 248 0 26 24 c35%0A33 35 83 1 116 l-24 25 -251 0 -251 0 -24 -25z'/%3E%3Cpath d='M4333 3522 c-28 -10 -68 -31 -88 -46 -36 -28 -89 -100 -101 -138 -5%0A-17 -21 -18 -206 -18 l-202 0 -78 -78 c-68 -68 -78 -83 -78 -113 0 -46 34 -79%0A81 -79 28 0 44 9 84 50 l49 50 172 0 173 0 23 -46 c29 -60 105 -128 165 -148%0A60 -21 147 -20 209 1 69 23 155 110 179 182 34 104 9 220 -66 305 -70 80 -212%0A115 -316 78z m173 -171 c45 -28 71 -98 55 -151 -20 -67 -99 -113 -165 -96 -40%0A10 -85 55 -97 96 -10 33 -9 47 6 86 21 57 62 84 125 84 27 0 58 -8 76 -19z'/%3E%3Cpath d='M4333 2202 c-28 -10 -68 -31 -88 -46 -36 -28 -89 -100 -101 -138 -5%0A-16 -20 -18 -180 -18 l-174 0 -110 55 c-60 30 -121 55 -135 55 -35 0 -75 -42%0A-75 -77 0 -48 27 -71 153 -136 l122 -62 198 -3 197 -4 25 -47 c50 -99 152%0A-161 265 -161 87 0 147 25 211 89 70 71 94 133 87 230 -8 110 -67 200 -164%0A247 -72 35 -160 41 -231 16z m173 -171 c45 -28 71 -98 55 -151 -20 -67 -99%0A-113 -165 -96 -40 10 -85 55 -97 96 -10 33 -9 47 6 86 21 57 62 84 125 84 27%0A0 58 -8 76 -19z'/%3E%3Cpath d='M3165 1315 c-49 -48 -41 -67 145 -315 93 -125 179 -235 191 -246 20%0A-18 42 -19 330 -22 l308 -3 23 -46 c29 -59 106 -127 165 -147 60 -21 147 -20%0A209 1 69 23 155 110 179 182 48 144 -18 302 -153 368 -47 23 -70 28 -132 28%0A-124 0 -218 -59 -273 -171 l-21 -44 -273 0 -273 0 -160 214 c-87 117 -166 216%0A-175 220 -33 12 -66 5 -90 -19z m1341 -384 c45 -28 71 -98 55 -151 -20 -67%0A-99 -113 -165 -96 -40 10 -85 55 -97 96 -10 33 -9 47 6 86 21 57 62 84 125 84%0A27 0 58 -8 76 -19z'/%3E%3C/g%3E%3C/svg%3E%0A");background-size: 100% 100%; /* Ensure the background image covers the entire element */
    margin-bottom: 10px;
    
}

.icon-card-3 {
    height: 50px; /* Increase height */
    background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' standalone='no'%3F%3E%3C!DOCTYPE svg PUBLIC '-//W3C//DTD SVG 20010904//EN' 'http://www.w3.org/TR/2001/REC-SVG-20010904/DTD/svg10.dtd'%3E%3Csvg version='1.0' xmlns='http://www.w3.org/2000/svg' width='512.000000pt' height='512.000000pt' viewBox='0 0 512.000000 512.000000' preserveAspectRatio='xMidYMid meet'%3E%3Cg transform='translate(0.000000,512.000000) scale(0.100000,-0.100000)'%0Afill='%23000000' stroke='none'%3E%3Cpath d='M90 5098 c-33 -17 -51 -35 -67 -68 l-23 -44 0 -2261 0 -2261 23 -44%0Ac16 -33 34 -51 67 -67 l44 -23 780 0 781 0 -93 -93 -92 -93 60 -59 60 -60 193%0A193 192 192 -195 195 -195 195 -57 -57 -58 -57 92 -93 93 -93 -763 0 -762 0 0%0A1730 0 1730 2310 0 2310 0 0 -660 0 -660 -1264 0 -1263 0 -34 -23 c-18 -12%0A-44 -38 -56 -56 l-23 -34 0 -1199 c0 -1325 -4 -1241 66 -1294 l37 -29 1366 -3%0A1366 -2 45 22 c33 17 51 35 68 68 l22 45 -2 1201 -3 1202 -31 39 c-21 26 -46%0A43 -80 55 l-49 16 -5 1185 c-5 1178 -5 1186 -26 1213 -11 15 -33 37 -48 48%0Al-27 21 -2357 3 -2358 2 -44 -22z m4700 -558 l0 -410 -2310 0 -2310 0 0 410 0%0A410 2310 0 2310 0 0 -410z m160 -2310 l0 -250 -1320 0 -1320 0 0 250 0 250%0A1320 0 1320 0 0 -250z m0 -1235 l0 -825 -1320 0 -1320 0 0 825 0 825 1320 0%0A1320 0 0 -825z'/%3E%3Cpath d='M497 4776 c-122 -44 -192 -178 -157 -301 16 -59 86 -137 142 -160 60%0A-24 146 -22 202 5 86 41 138 124 138 220 1 75 -25 132 -82 183 -71 64 -158 83%0A-243 53z m142 -182 c28 -36 27 -79 -4 -109 -49 -50 -135 -17 -135 53 0 50 32%0A82 81 82 29 0 42 -6 58 -26z'/%3E%3Cpath d='M1151 4773 c-24 -9 -63 -35 -86 -58 -156 -155 -44 -419 177 -417 137%0A0 241 107 241 247 1 171 -168 286 -332 228z m148 -179 c28 -36 27 -79 -4 -109%0A-73 -73 -184 37 -113 112 31 33 90 32 117 -3z'/%3E%3Cpath d='M1811 4773 c-132 -47 -197 -215 -132 -341 103 -199 394 -171 456 43%0A57 194 -131 366 -324 298z m148 -179 c28 -36 27 -79 -4 -109 -73 -73 -184 37%0A-113 112 31 33 90 32 117 -3z'/%3E%3Cpath d='M2480 2230 l0 -80 80 0 80 0 0 80 0 80 -80 0 -80 0 0 -80z'/%3E%3Cpath d='M2810 2230 l0 -80 80 0 80 0 0 80 0 80 -80 0 -80 0 0 -80z'/%3E%3Cpath d='M3140 2230 l0 -80 825 0 825 0 0 80 0 80 -825 0 -825 0 0 -80z'/%3E%3Cpath d='M2480 1320 l0 -330 330 0 330 0 0 330 0 330 -330 0 -330 0 0 -330z%0Am490 5 l0 -165 -165 0 -165 0 0 158 c0 87 3 162 7 165 3 4 78 7 165 7 l158 0%0A0 -165z'/%3E%3Cpath d='M3300 1320 l0 -330 330 0 330 0 0 330 0 330 -330 0 -330 0 0 -330z%0Am500 5 l0 -165 -165 0 -165 0 0 165 0 165 165 0 165 0 0 -165z'/%3E%3Cpath d='M4130 1320 l0 -330 330 0 330 0 0 330 0 330 -330 0 -330 0 0 -330z%0Am490 5 l0 -165 -165 0 -165 0 0 158 c0 87 3 162 7 165 3 4 78 7 165 7 l158 0%0A0 -165z'/%3E%3Cpath d='M2480 745 l0 -85 330 0 331 0 -3 83 -3 82 -327 3 -328 2 0 -85z'/%3E%3Cpath d='M3307 823 c-4 -3 -7 -42 -7 -85 l0 -78 330 0 330 0 0 85 0 85 -323 0%0Ac-178 0 -327 -3 -330 -7z'/%3E%3Cpath d='M4130 745 l0 -85 330 0 330 0 0 85 0 85 -330 0 -330 0 0 -85z'/%3E%3Cpath d='M2480 415 l0 -85 330 0 331 0 -3 83 -3 82 -327 3 -328 2 0 -85z'/%3E%3Cpath d='M3307 493 c-4 -3 -7 -42 -7 -85 l0 -78 330 0 330 0 0 85 0 85 -323 0%0Ac-178 0 -327 -3 -330 -7z'/%3E%3Cpath d='M4130 415 l0 -85 330 0 330 0 0 85 0 85 -330 0 -330 0 0 -85z'/%3E%3Cpath d='M420 3777 c-30 -16 -51 -37 -67 -67 -22 -42 -23 -50 -23 -321 0 -171%0A4 -288 11 -306 15 -42 68 -92 109 -103 21 -6 270 -10 630 -10 556 0 598 2 635%0A19 78 36 104 91 105 224 l0 87 80 0 80 0 0 -87 c0 -49 5 -104 10 -123 12 -43%0A62 -93 109 -109 49 -16 1198 -16 1253 1 54 16 105 75 113 130 3 24 5 163 3%0A309 -3 264 -3 266 -28 302 -14 21 -43 46 -66 57 -39 19 -62 20 -647 20 -403 0%0A-615 -4 -634 -11 -42 -15 -92 -68 -103 -109 -5 -19 -10 -74 -10 -122 l0 -88%0A-80 0 -80 0 0 89 c0 100 -11 144 -49 185 -52 57 -38 56 -699 56 l-609 0 -43%0A-23z m1230 -392 l0 -245 -575 0 -575 0 0 245 0 245 575 0 575 0 0 -245z m1650%0A0 l0 -245 -575 0 -575 0 0 245 0 245 575 0 575 0 0 -245z'/%3E%3Cpath d='M3632 3718 l3 -83 163 -3 162 -2 0 85 0 85 -165 0 -166 0 3 -82z'/%3E%3Cpath d='M4130 3715 l0 -85 245 0 245 0 0 85 0 85 -245 0 -245 0 0 -85z'/%3E%3Cpath d='M3632 3388 l3 -83 493 -3 492 -2 0 85 0 85 -495 0 -496 0 3 -82z'/%3E%3Cpath d='M3632 3058 l3 -83 493 -3 492 -2 0 85 0 85 -495 0 -496 0 3 -82z'/%3E%3Cpath d='M445 2799 c-16 -4 -43 -20 -59 -35 -56 -53 -56 -55 -56 -537 l0 -444%0A23 -43 c16 -30 37 -51 67 -67 l43 -23 601 0 c365 0 615 4 637 10 42 12 82 51%0A103 102 24 55 24 880 1 935 -21 50 -42 72 -90 94 -37 17 -78 19 -640 18 -330%0A0 -613 -5 -630 -10z m1205 -569 l0 -410 -575 0 -575 0 0 410 0 410 575 0 575%0A0 0 -410z'/%3E%3Cpath d='M685 2285 c-16 -15 -25 -36 -25 -55 0 -71 91 -107 140 -55 72 77 -41%0A185 -115 110z'/%3E%3Cpath d='M1019 2291 c-33 -27 -33 -95 0 -122 33 -27 82 -25 111 6 69 73 -33%0A180 -111 116z'/%3E%3Cpath d='M1362 2303 c-7 -3 -19 -18 -28 -35 -30 -58 6 -118 71 -118 37 1 61%0A18 74 53 25 66 -48 128 -117 100z'/%3E%3Cpath d='M330 1405 l0 -85 330 0 330 0 0 85 0 85 -330 0 -330 0 0 -85z'/%3E%3Cpath d='M1160 1405 l0 -85 330 0 331 0 -3 83 -3 82 -327 3 -328 2 0 -85z'/%3E%3Cpath d='M330 1075 l0 -85 250 0 251 0 -3 83 -3 82 -247 3 -248 2 0 -85z'/%3E%3Cpath d='M990 1075 l0 -85 85 0 86 0 -3 83 -3 82 -82 3 -83 3 0 -86z'/%3E%3Cpath d='M1320 1075 l0 -85 85 0 86 0 -3 83 -3 82 -82 3 -83 3 0 -86z'/%3E%3Cpath d='M1650 1075 l0 -85 85 0 86 0 -3 83 -3 82 -82 3 -83 3 0 -86z'/%3E%3C/g%3E%3C/svg%3E%0A");background-size: 100% 100%; /* Ensure the background image covers the entire element */
    margin-bottom: 10px;
}

.hero .left-section .top .buttons button,
.projects .inner > button,
.contact .items .item button{
    font-size: 16px;
    border: none;
    padding: 5px 20px;
    background: #fff;
    border: 1px solid #dedede;
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    font-weight: 500;
    transition: all 0.3s ease;
}

.hero .left-section .top .buttons button i{
    font-size: 26px;
}

.hero .left-section .top .buttons button.doc,
.contact .items .item button{
    background: #000;
    color: #fff;
}

.hero .left-section .top .buttons button.git:hover{
    background: #000;
    color: #fff;
    border-color: transparent;
}

.hero .left-section .bottom p{
    font-size: 14px;
    color: #606060;
    margin-bottom: 10px;
}

.hero .left-section .bottom .icons{
    margin-left: 10px;
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 30px;
    cursor: pointer;
    width: fit-content;
   transition: transform 0.3s ease; /* Smooth transition on hover */
}

.hero .left-section .bottom .icons:hover {
    transform: scale(1.2); /* Magnify icon by 1.2 times on hover */
}

.about{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: #f5f5f5;
    padding: 50px;
}

.about > p{
    font-size: 14px;
    color: #606060;
    border: 1px solid #e8e8e8;
    padding: 6px 14px;
    border-radius: 16px;
    margin-bottom: 12px;
    background: #fff;
}

.about > h2{
    font-size: 22px;
    text-align: center;
    margin-bottom: 30px;
}

.about .items{
    display: flex;
    justify-content: center;
    gap: 24px;
}

.about .items .item{
    width: 26%;
    border: 1px solid #e8e8e8;
    border-radius: 16px;
    background: #f1f1f1;
    padding: 0 0 30px;
}

.about .items .item .inner{
    background: #fff;
    padding: 24px;
    border-radius: 16px;
    border: 1px solid #e8e8e8;
    min-height: 365px;
    text-align: center;
}

.about .items .item .inner .inner-top{
    height: 120px; /* Set the desired fixed height */
}

.about .items .item .inner img{
    width: 100%;
    margin-bottom: 16px;
    border-radius: 12px;
}

.about .items .item .inner a{
    font-size: 18px;
    color: #000;
    margin-bottom: 10px;
    display: block;
}

.about .items .item .inner p{
    color: #606060;
    font-size: 15px;
}

.projects{
    padding: 0 24px;
    background: #f5f5f5;
}

.projects .inner{
    background: #1f1f1f;
    color: #fff;
    padding: 70px;
    border-radius: 24px;
}

.projects .inner p.debug{
    font-size: 14px;
    margin-bottom: 12px;
    color: #d8d8d8;
    border: 1px solid #484848;
    display: inline-block;
    padding: 6px 12px;
    border-radius: 20px;
}

.projects .inner p.debug i,
.projects .inner > button i{
    font-size: 18px;
}

.projects .inner > h2{
    font-size: 38px;
    margin-bottom: 24px;
}

.projects .inner p.info{
    font-size: 18px;
    color: #dedede;
    margin-bottom: 24px;
}

.projects .inner > button{
    padding: 10px 20px;
    margin-bottom: 40px;
}

.projects .inner .items{
    display: flex;
    gap: 20px;
}

.projects .inner .items .item{
    border: 1px solid #484848;
    border-radius: 16px;
    /* padding: 32px 24px; */
    width: 46%;
    background: #262626;
}

.projects .inner .items .item i{
    font-size: 38px;
    border: 1px solid #606060;
    border-radius: 10px;
    padding: 10px;
    background: #303030;
}

.projects .inner .items .item a{
    display: block;
    margin: 24px 0 14px;
    color: #fff;
    font-size: 20px;
    padding: 0px 24px;
}

.projects .inner .items .item p{
    color: #a1a1a1;
    font-size: 16px;
    line-height: 24px;
    padding-bottom: 10px;
    padding: 0px 24px;
    padding-bottom: 32px;
    
}

.projects .inner .items .item img {
    width: 100%; /* Set width to 50% of the parent container */
    height: auto; /* Maintain aspect ratio */
    border-radius: 10px;
}

.contact{
    padding: 100px 60px;
    background: #f5f5f5;
}

.contact > h2{
    font-size: 36px;
    margin-bottom: 40px;
}

.contact .items{
    display: flex;
    background: #fff;
    border-radius: 12px;
}

.contact .items .item{
    width: 50%;
    padding: 30px;
    border: 1px solid #dedede;
}

.contact .items .item:nth-child(1){
    border-radius: 12px 0 0 12px;
}

.contact .items .item:nth-child(2){
    border-radius: 0 12px 12px 0;
}

.contact .items .item a{
    font-size: 24px;
    color: #000;
    display: inline-block;
    margin-bottom: 16px;
}

.contact .items .item p{
    font-size: 20px;
    color: #606060;
    margin-bottom: 26px;
}

.contact .items .item button{
    padding: 10px 24px;
}

footer{
    background: #1f1f1f;
    border-radius: 24px 24px 0 0;
    padding: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

footer p,
footer a{
    font-size: 13px;
    color: #606060;
    transition: all 0.3s ease;
}

footer a:hover{
    color: #fff;
}

@media screen and (max-width: 1280px) {
    
    .hero .left-section .top h2{
        font-size: 25px;
    }

    .hero .left-section .top p{
        font-size: 14px;
    }

    .hero .left-section .top .buttons button,
    .projects .inner > button,
    .contact .items .item button{
        font-size: 14px;
        padding: 8px 14px;
    }

    .hero .left-section .top .buttons button i{
        font-size: 18px;
    }

    .about .items .item .inner{
        min-height: 340px;
    }

    .about .items .item .inner a,
    .projects .inner > p.info,
    .contact .items .item p{
        font-size: 15px;
    }

    .about .items .item .inner p{
        font-size: 13px;
    }

    .projects .inner .items{
        flex-wrap: wrap;
    }

    .contact .items .item a{
        font-size: 18px;
    }

}

@media screen and (max-width: 992px) {
    
    .hero{
        margin-top: 100px;
        flex-direction: column;
        justify-content: center;
        height: calc(100vh - 100px);
    }

    .hero .left-section{
        gap: 20px;
        align-items: center;
    }

    .hero .left-section .top{
        text-align: center;
    }

    .hero .left-section .top .buttons{
        justify-content: center;
    }

    .about .items{
        flex-wrap: wrap;
    }

    .about .items .item{
        width: 40%;
    }


    .contact .items .item button{
        width: 100%;
    }

}

@media screen and (max-width: 768px) {
    
    nav,
    nav .nav-links{
        gap: 16px;
    }

    nav button{
        display: none;
    }

    .hero{
        padding: 0 40px;
    }

    .hero > img{
        width: 55%;
    }

    .about > h2{
        font-size: 18px;
    }

    .about .items .item{
        width: 100%;
    }

    .about .items .item .inner img{
        height: 65%;
        max-height: 250px;
    }

    .projects .inner{
        padding: 50px 40px;
    }

    .projects .inner > h2{
        font-size: 24px;
    }

    .projects .inner p.info{
        font-size: 13px;
    }

    .projects .inner button{
        width: 100%;
    }

    .projects .inner .items .item i{
        font-size: 28px;
    }

    .projects .inner .items .item a{
        display: inline-block;
        margin-left: 10px;
        font-size: 16px;
    }

    .projects .inner .items .item p{
        margin-top: 10px;
        font-size: 14px;
    }

    .contact{
        padding: 100px 40px;
    }

    .contact > h2{
        font-size: 22px;
    }

    .contact .items{
        flex-wrap: wrap;
    }

    .contact .items .item{
        width: 100%;
    }

    .contact .items .item:nth-child(1){
        border-radius: 12px 12px 0 0;
    }

    .contact .items .item:nth-child(2){
        border-radius: 0 0 12px 12px;
    }

    footer a,
    footer p{
        font-size: 11px;
    }

}